.header__h1, .section__h2 {
  font-weight: bold;
  text-align: center;
}

@font-face {
  font-family: Roboto-BoldItalic;
  src: url(../fuentes/Roboto/Roboto-BoldItalic.ttf);
}
.header__h1, .section__h2, .navbar-nav {
  font-family: "Times New Roman", Times, serif;
}

.section_inicio__p {
  font-family: "PT Serif", serif;
}

.footer__contacto {
  font-family: Roboto-BoldItalic;
}

.nav-link:link, .dropdown-item:link {
  color: #0a497b !important;
}

.nav-link:visited, .dropdown-item:visited {
  color: #58468a !important;
}

.nav-link:hover, .dropdown-item:hover {
  color: #00abc9 !important;
}

.texto-introductorio, .nav-link:active, .dropdown-item:active {
  color: #0000ff !important;
}

.header__h1 {
  color: #44588A;
}

.section:hover .section__h2, .section:hover .section__p {
  color: #3A4B79;
}

.section__h2, .section__p {
  color: #576F8B;
}

.body, .dropdown-menu, .navbar-collapse {
  background-color: #E4ECEF;
}

.nav-item, .dropdown-item, .navbar-toggler {
  background: linear-gradient(to bottom, #4f9fdd, #e0f3fc, #4f9fdd);
}

.footer__contener-elementos {
  border: 1px solid #44588a;
}

.footer__texto, .section__h2--principal, .section__p--principal {
  color: #3A4B79;
}

.header__imagen-portada, .section__multimedia, .carousel-multimedia {
  object-fit: cover;
  width: 100%;
}

.texto-introductorio {
  position: absolute;
  opacity: 0%;
}

.header__h1, .carousel-h3, .carousel-p, .section__p, .section__h2, .navbar-nav {
  font-style: italic;
}

.seccion-estructural {
  margin-bottom: 40px;
}

header, nav, .seccionPrincipal, aside, footer, .carousel {
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-duration: 9s;
  animation-delay: 0s;
}

.header__imagen-logo {
  position: absolute;
  width: 10%;
  margin: 2px;
}

.header__h1 {
  text-transform: uppercase;
  font-size: calc(1rem + 4vw);
  word-spacing: calc(0.5rem + 0.3vw);
}

.navbar-nav {
  text-transform: uppercase;
  font-size: calc(0.9rem + 0.5vw);
  font-weight: bold;
  list-style-type: none;
  padding: 0px;
}

.nav-item {
  flex-grow: 1;
  padding: 1vw;
  margin-bottom: 0.5vw;
}

.dropdown-item {
  font-size: calc(0.65rem + 0.6vw);
  font-weight: bold;
}

.carousel {
  margin-bottom: 50px;
}

.carousel-h3 {
  font-size: calc(0.9rem + 0.9vw);
}

.carousel-p {
  font-size: calc(0.8rem + 0.2vw);
}

.carousel-multimedia {
  height: 200px;
}

.aside-inicio {
  margin-bottom: 30px;
}

.section {
  overflow: hidden;
  height: calc(35rem + 8vw);
  padding: 0rem calc(0.3rem + 0.5vw);
  margin-bottom: 30px;
}

.section__contenedor-multimedia {
  overflow: hidden;
}

.section__multimedia {
  opacity: 0.66;
}

.section__h2 {
  font-size: calc(1rem + 1vw);
}

.section__p {
  text-align: justify;
  font-size: calc(0.8rem + 0.2vw);
}

.section__h2, .section__p {
  opacity: 0.9;
}

.section__multimedia, .section__h2, .section__p {
  transition: all 1s;
}

.section:hover .section__multimedia,
.section:hover .section__multimedia--principal {
  transform: scale(1.05);
}
.section:hover .section__multimedia, .section:hover .section__h2, .section:hover .section__p {
  opacity: 100%;
}

.section--principal {
  height: inherit;
}

.section__multimedia--principal {
  height: inherit;
  opacity: inherit;
}

/* ------------------------------ Flecha arriba ----------------------------- */
.flecha-arriba {
  position: absolute;
}

.flecha-arriba__imagen {
  width: calc(2.5rem + 0.5vw);
  opacity: 0.4;
  position: fixed;
  bottom: 0px;
  right: 10px;
}

.footer {
  padding: calc(0.15rem + 0.25vw);
  margin-bottom: 15px;
}

.footer__contener-elementos {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.footer__contacto {
  font-size: calc(1.5rem + 0.2vw);
}

.footer__icono-youtube,
.footer__icono-facebook,
.footer__icono-twitter,
.footer__icono-instagram,
.footer__icono-pinterest,
.footer__icono-email {
  width: calc(3rem + 0.5vw);
  margin: calc(0.5rem + 0.5vw);
}

@media only screen and (max-width: 575px) {
  .principal {
    order: -1;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .carousel-multimedia, .section__multimedia--exvu {
    height: 300px;
  }

  .principal {
    order: -1;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section__multimedia {
    height: 25vw;
  }

  .principal {
    order: -1;
  }

  .section__multimedia--principal {
    height: inherit;
  }

  .carousel-multimedia {
    height: 400px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .carousel-multimedia, .section__multimedia--exvu {
    height: 500px;
  }

  .section__multimedia {
    height: 25vw;
  }

  .principal {
    order: -1;
  }

  .section__multimedia--principal {
    height: 40vh;
  }
}
@media only screen and (min-width: 1200px) {
  .section__multimedia {
    height: 15vw;
  }

  .section__multimedia--principal {
    height: 85vh;
  }
}
@media only screen and (orientation: LANDSCAPE) {
  .section__multimedia--principal {
    height: inherit;
  }

  .section__multimedia--exvu {
    height: 40vh;
  }

  .carousel-multimedia {
    height: 85vh;
  }
}
@media only screen and (orientation: LANDSCAPE) and (max-width: 991px) {
  .section__multimedia--principal {
    height: inherit;
  }

  .carousel-multimedia, .section__multimedia--principal {
    height: 85vh;
  }
}

/*# sourceMappingURL=style.css.map */
