// Color textos
$headings-color: #44588A;
$paragraph-color: #3A4B79;
$fuzzy-color: #576F8B;

// Color enlaces
$link-color: #0a497b !important;
$link-visited-color: #58468a !important;
$link-hover-color: #00abc9 !important;
$link-active-color: #0000ff !important;

// Color de fondo
$background-color: #E4ECEF;

// Color de fondo degradado
$background-linear-gradient-color: linear-gradient(to bottom, #4f9fdd, #e0f3fc, #4f9fdd);

// Color bordes
$border-color: #44588a;