// Fuente encabezados
$font-family-headings: 'Times New Roman', Times, serif;

// Fuente párrafos
$font-family-paragraph: 'PT Serif', serif;

// Fuente pie de página
$font-family-footer: Roboto-BoldItalic;